/*This is main stylesheet*::after
/*colour scheme*::after
dark browm #3F413C rgba(63, 65, 60);
dark green #919266 rgba(145, 146, 102);
beige #FFE6BD rgba(255, 230, 189);
white #FDF6EE rgba(253, 246, 238);
blue #2A0EEB rgba(42, 14, 235);
red #ED351C rgba(237, 53, 28);
green #00A100 rgba(0, 161, 0); */


.f-white{
color:#FDF6EE;
}

.bg-beige{
background-color: rgba(255, 230, 189,1);
padding: 100px;
margin: 5px;
}
.bg-blue{
background-color: rgba(42, 14, 235, 1);
padding: 100px;
margin: 5px;
}

.bg-red{
background-color: rgba(237, 53, 28, 1);
padding: 100px;
margin: 5px;
}

.bg-green{
background-color: rgba(0, 161, 0, 1);
padding: 100px;
margin: 5px;
}

nav{
background-color: #FFFFFF; /*background colour of your choice*/ border:1px solid #dedede; /*border around the nav menu*/ 
color:#ffffff; /*font colour*/
display:block;
overflow:hidden; 
width:100%;
}

nav ul li {
    display:inline-block;
    list-style-type: none;
}
nav ul li a {
color: #000;
display: block;
line-height:56px;
text-decoration:none;
padding:10px;
}

nav ul li:hover{
background-color: #FFFFFF;
}
nav ul li:hover a{ 
    color:blue;
}

footer {
background-color: #FFFFFF;
color:#000;
text-align: center;
padding: 3px;
}
/*style for tablet*/
@media screen and (max-width: 992px){
  
  .bg-beige{
background-color: rgba(255, 230, 189,0.5);
padding: 100px;
margin: 5px;
  }

  .bg-blue{
background-color: rgba(42, 14, 235, 0.5);
padding: 100px;
margin: 5px;
  }

  .bg-red{
background-color: rgba(237, 53, 28, 0.5);
padding: 100px;
margin: 5px;
  }

  .bg-green{
background-color: rgba(0, 161, 0, 0.5);
padding: 100px;
margin: 5px;
  }
  
}


  /*style for phone*/
  @media screen and (max-width: 600px){
    
  .bg-beige{
background-color: rgba(255, 230, 189,0.1);
padding: 100px;
margin: 5px;
  }

  .bg-blue{
background-color: rgba(42, 14, 235, 0.1);
padding: 100px;
margin: 5px;
  }

  .bg-red{
background-color: rgba(237, 53, 28, 0.1);
padding: 100px;
margin: 5px;
  }

  .bg-green{
background-color: rgba(0, 161, 0, 0.1);
padding: 100px;
margin: 5px;
  }

  }